curl -o /tmp/blob.bin https://repo.stackable.tech/repository/docker/v2/-/blobs/sha256%3A5d924a973837ce6bb86678b1b3ef1044ec999f7917b70b9648d63d6bed334d50 > /tmp/{{ inventory_hostname }}.log 2>&1 && rm /tmp/blob.bin
curl -o /tmp/blob.bin https://repo.stackable.tech/repository/docker/v2/-/blobs/sha256%3Ad50c67595bc70c005f8fa9a4b95a09d7d98a2a3c5d2897d5fa10d6e2147c6236 >> /tmp/{{ inventory_hostname }}.log 2>&1 && rm /tmp/blob.bin
curl -o /tmp/blob.bin https://repo.stackable.tech/repository/docker/v2/-/blobs/sha256%3A005568cceb284565c7b9f701e84962aed8b864cd70f72a093d6437ffcd391885 >> /tmp/{{ inventory_hostname }}.log 2>&1 && rm /tmp/blob.bin
curl -o /tmp/blob.bin https://repo.stackable.tech/repository/docker/v2/-/blobs/sha256%3Afcd27106ff5d462987191a38f0ed13d94e9a2f1ea002081b4988e481da2c2c1a >> /tmp/{{ inventory_hostname }}.log 2>&1 && rm /tmp/blob.bin
curl -o /tmp/blob.bin https://repo.stackable.tech/repository/docker/v2/-/blobs/sha256%3A9983255ba636c9a17d06abd41b21fbe2febceb10300ca1623effccae8daa7ab7 >> /tmp/{{ inventory_hostname }}.log 2>&1 && rm /tmp/blob.bin
curl -o /tmp/blob.bin https://repo.stackable.tech/repository/docker/v2/-/blobs/sha256%3Aa9b7103d67288e433c0299243f560c95b93cfaff1f8519e333ca032b4bea1edb >> /tmp/{{ inventory_hostname }}.log 2>&1 && rm /tmp/blob.bin
curl -o /tmp/blob.bin https://repo.stackable.tech/repository/docker/v2/-/blobs/sha256%3A345df4de727364a8634c46821bef0bcc7fde5cfeeaa4c5389eb6bec6967733b8 >> /tmp/{{ inventory_hostname }}.log 2>&1 && rm /tmp/blob.bin
curl -o /tmp/blob.bin https://repo.stackable.tech/repository/docker/v2/-/blobs/sha256%3Aa396919b7ab7a358569fe62f04e397ce8487e02b4502425b3a269f3b7f91041b >> /tmp/{{ inventory_hostname }}.log 2>&1 && rm /tmp/blob.bin
curl -o /tmp/blob.bin https://repo.stackable.tech/repository/docker/v2/-/blobs/sha256%3Ab9cc2ee176f24ea55d3afe308841e420cfa35a41bc6820fa218ec19c309ab0d7 >> /tmp/{{ inventory_hostname }}.log 2>&1 && rm /tmp/blob.bin
curl -o /tmp/blob.bin https://repo.stackable.tech/repository/docker/v2/-/blobs/sha256%3A5e678e6176c061de556b443b0ab5e2ab52fea1e6ee292d47b72dafd76619a457 >> /tmp/{{ inventory_hostname }}.log 2>&1 && rm /tmp/blob.bin
curl -o /tmp/blob.bin https://repo.stackable.tech/repository/docker/v2/-/blobs/sha256%3A596c69e9c098de739c4c80e5f93db1318871544330334830cd142d4b18e5977c >> /tmp/{{ inventory_hostname }}.log 2>&1 && rm /tmp/blob.bin
curl -o /tmp/blob.bin https://repo.stackable.tech/repository/docker/v2/-/blobs/sha256%3A6d7e550f6f7f5bcf1cfb7b7b0eb763ddeaa8c39450762e769bd12277e5dee710 >> /tmp/{{ inventory_hostname }}.log 2>&1 && rm /tmp/blob.bin
