<html>
  <head>
    <title>Logs</title>
  </head>
  <body>
    <p>
        These links lead to the log search, filtered by the T2 cluster ID and time-boxed to the time the test ran.
    </p>
    <p>
        Unfortunately, Jenkins sandboxes HTML files which are served as build job artifacts, so the links cannot open new tabs. Please use the ways your web browser provides you to open new tabs.
    </p>
  	<ul>
      <li>
        <a href="{{ opensearch_dashboards_url }}/app/data-explorer/discover#?_a=(discover:(columns:!(_source),isDirty:!f,sort:!()),metadata:(indexPattern:'67b0fc00-9acd-11ef-9878-158cf39fc24b',view:discover))&_q=(filters:!(('$state':(store:appState),meta:(alias:!n,disabled:!f,index:'67b0fc00-9acd-11ef-9878-158cf39fc24b',key:t2_cluster,negate:!f,params:(query:{{ cluster_id }}),type:phrase),query:(match_phrase:(t2_cluster:{{ cluster_id }})))),query:(language:kuery,query:''))&_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:'{{ date_from }}',to:'{{ date_to }}'))">K8s Event logs</a>
      </li>
      <li>
        <a href="{{ opensearch_dashboards_url }}/app/data-explorer/discover#?_a=(discover:(columns:!(_source),isDirty:!f,sort:!()),metadata:(indexPattern:'6da49310-9acd-11ef-9878-158cf39fc24b',view:discover))&_q=(filters:!(('$state':(store:appState),meta:(alias:!n,disabled:!f,index:'67b0fc00-9acd-11ef-9878-158cf39fc24b',key:t2_cluster,negate:!f,params:(query:{{ cluster_id }}),type:phrase),query:(match_phrase:(t2_cluster:{{ cluster_id }})))),query:(language:kuery,query:''))&_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:'{{ date_from }}',to:'{{ date_to }}'))">Stackable Operator logs</a>
      </li>
      <li>
        <a href="{{ opensearch_dashboards_url }}/app/data-explorer/discover#?_a=(discover:(columns:!(_source),isDirty:!f,sort:!()),metadata:(indexPattern:'7224c400-9acd-11ef-9878-158cf39fc24b',view:discover))&_q=(filters:!(('$state':(store:appState),meta:(alias:!n,disabled:!f,index:'67b0fc00-9acd-11ef-9878-158cf39fc24b',key:t2_cluster,negate:!f,params:(query:{{ cluster_id }}),type:phrase),query:(match_phrase:(t2_cluster:{{ cluster_id }})))),query:(language:kuery,query:''))&_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:'{{ date_from }}',to:'{{ date_to }}'))">product logs</a>
      </li>
    </ul>
  </body>
</html>
