---
- job:
    name: maintenance-docker-system-prune
    project-type: freestyle
    defaults: global
    description: ''
    disabled: false
    display-name: 'Docker system prune (nightly)' 
    concurrent: false
    quiet-period: 5
    logrotate:
      daysToKeep: -1
      numToKeep: 20
      artifactDaysToKeep: -1
      artifactNumToKeep: -1
    triggers:
      - timed: "H 23 * * *"
    builders:
      - shell: 
          command: |
            docker system prune -f
- job:
    name: maintenance-monitor-oci-artifacts
    project-type: freestyle
    defaults: global
    description: ''
    disabled: false
    display-name: 'Monitor OCI Artifacts (daily)' 
    concurrent: false
    quiet-period: 5
    logrotate:
      daysToKeep: -1
      numToKeep: 20
      artifactDaysToKeep: -1
      artifactNumToKeep: -1
    scm:
      - git:
          url: https://github.com/stackabletech/ci.git
          branches:
            - origin/main
          browser: githubweb
          browser-url: https://github.com/stackabletech/ci.git
          timeout: 20
    triggers:
      - timed: "H 7 * * *"
    builders:
      - shell: 
          command: |
            cd tools/monitor-oci-artifacts/
            docker build . -t docker.stackable.tech/tools/monitor-oci-artifacts:latest
            cd ../../

            set +x
            set +e

            docker run --rm docker.stackable.tech/tools/monitor-oci-artifacts:latest > report.txt
            report_exit_code=$?

            exit $report_exit_code
    publishers:
      - archive:
          artifacts: 'report.txt'
          allow-empty: true
      - slack:
          room: '#team-cloud'
          notify-unstable: True
          notify-every-failure: True
          notify-back-to-normal: True
- job:
    name: maintenance-harbor-garbage-collection
    project-type: freestyle
    defaults: global
    description: ''
    disabled: false
    display-name: 'Harbor Garbage Collection (daily)' 
    concurrent: false
    quiet-period: 5
    logrotate:
      daysToKeep: -1
      numToKeep: 20
      artifactDaysToKeep: -1
      artifactNumToKeep: -1
    scm:
      - git:
          url: https://github.com/stackabletech/ci.git
          branches:
            - origin/main
          browser: githubweb
          browser-url: https://github.com/stackabletech/ci.git
          timeout: 20
    triggers:
      - timed: "H 7 * * *"
    wrappers:
      - credentials-binding:
        - text:
            credential-id: HARBOR_ROBOT_PASSWORD
            variable: HARBOR_ROBOT_PASSWORD
    builders:
      - shell: 
          command: |
            cd tools/harbor-garbage-collector/
            docker build . -t docker.stackable.tech/tools/harbor-garbage-collector:latest
            cd ../../

            set +x
            set +e

            docker run --rm -e HARBOR_ROBOT_PASSWORD=$HARBOR_ROBOT_PASSWORD docker.stackable.tech/tools/harbor-garbage-collector:latest > report.txt
            report_exit_code=$?

            exit $report_exit_code
    publishers:
      - archive:
          artifacts: 'report.txt'
          allow-empty: true
      - slack:
          room: '#team-cloud'
          notify-unstable: True
          notify-every-failure: True
          notify-back-to-normal: True
- job:
    name: maintenance-nexus-garbage-collection
    project-type: freestyle
    defaults: global
    description: ''
    disabled: false
    display-name: 'Nexus Garbage Collection (daily)' 
    concurrent: false
    quiet-period: 5
    logrotate:
      daysToKeep: -1
      numToKeep: 20
      artifactDaysToKeep: -1
      artifactNumToKeep: -1
    scm:
      - git:
          url: https://github.com/stackabletech/ci.git
          branches:
            - origin/main
          browser: githubweb
          browser-url: https://github.com/stackabletech/ci.git
          timeout: 20
    triggers:
      - timed: "H 7 * * *"
    wrappers:
      - credentials-binding:
        - username-password-separated:
            credential-id: NEXUS_USER
            username: NEXUS_USER
            password: NEXUS_PASSWORD
    builders:
      - shell: 
          command: |
            cd tools/nexus-garbage-collector/
            docker build . -t docker.stackable.tech/tools/nexus-garbage-collector:latest
            cd ../../

            set +x
            set +e

            docker run --rm \
              -e NEXUS_USER=$NEXUS_USER \
              -e NEXUS_PASSWORD=$NEXUS_PASSWORD \
              -e RUST_LOG=info \
              docker.stackable.tech/tools/nexus-garbage-collector:latest > report.txt
            report_exit_code=$?

            exit $report_exit_code
    publishers:
      - archive:
          artifacts: 'report.txt'
          allow-empty: true
      - slack:
          room: '#team-cloud'
          notify-unstable: True
          notify-every-failure: True
          notify-back-to-normal: True
