---
{% for testsuite in testsuites %}
- job:
    name: {{ testsuite.name }}-it-summary
    project-type: freestyle
    defaults: global
    description: ''
    disabled: false
    display-name: '{{ testsuite.display_name }} test summary'
    concurrent: false
    quiet-period: 5
    logrotate:
      daysToKeep: -1
      numToKeep: 20
      artifactDaysToKeep: -1
      artifactNumToKeep: -1
    wrappers:
      - credentials-binding:
          - username-password-separated:
              credential-id: JENKINS_ROBOT
              username: JENKINS_ROBOT_USERNAME
              password: JENKINS_ROBOT_PASSWORD
    builders:
      - shell: 
          unstable-return: 255
          command: |
            set +x
            export OPERATOR={{ testsuite.name }}

            mkdir -p target/

            curl -s --user $JENKINS_ROBOT_USERNAME:$JENKINS_ROBOT_PASSWORD \
                https://ci.stackable.tech/job/$OPERATOR-operator-it-nightly/lastBuild/api/json > build_result.json 
                
            curl -s --user $JENKINS_ROBOT_USERNAME:$JENKINS_ROBOT_PASSWORD \
                https://ci.stackable.tech/job/$OPERATOR-operator-it-nightly/lastBuild/artifact/testsuite/target/test-output.log > target/test-output.log

            curl -s --user $JENKINS_ROBOT_USERNAME:$JENKINS_ROBOT_PASSWORD \
                https://ci.stackable.tech/job/$OPERATOR-operator-it-nightly/lastBuild/artifact/testsuite/target/stackable-versions.txt > target/cluster.txt

            export BUILD_RESULT=$(cat build_result.json | jq -r '.result')
            export BUILD_NUMBER=$(cat build_result.json | jq -r '.number')
            export BUILD_DESCRIPTION=$(cat build_result.json | jq -r '.description')

            # This string can be parsed by the description-setter publisher
            echo "build_run_label::#${BUILD_DESCRIPTION}#"

            if [ "$BUILD_RESULT" = "SUCCESS" ]; then
            exit 0
            fi

            if [ "$BUILD_RESULT" = "FAILURE" ]; then
            exit 1
            fi

            if [ "$BUILD_RESULT" = "UNSTABLE" ]; then
            exit 255
            fi
    publishers:
      - archive:
          artifacts: 'target/*'
          allow-empty: true
      - description-setter:
          regexp: ".*build_run_label::#(.*)#.*"
          regexp-for-failed: ".*build_run_label::#(.*)#.*"
          set-for-matrix: false
{% endfor %}

