#!/bin/bash
# wait a minute for cluster to be REALLY ready
sleep 60

{% if git_branch %}
git clone -b {{ git_branch }} https://github.com/stackabletech/{{ testsuite.git_repo }}.git
{% else %}
git clone https://github.com/stackabletech/{{ testsuite.git_repo }}.git
{% endif %}

{% for helm_repo in testsuite.helm_repos %}helm repo add {{ helm_repo.id }} {{ helm_repo.url }}
{% endfor %}

(cd {{ testsuite.git_repo }}/ && ./scripts/run_tests.sh {{ test_params }})
exit_code=$?

{% for operator in testsuite.operator_logs %}./operator-logs.sh {{ operator }} > /target/{{ operator }}-operator.log
{% endfor %}

# cleanup of the test resources might take a while, so we wait another minute
sleep 60

exit $exit_code
