#!/bin/bash
# wait a minute for cluster to be REALLY ready
sleep 60

# Install tool for test suite expansion
pip install beku-stackabletech

{% if git_branch %}
git clone -b {{ git_branch }} https://github.com/stackabletech/{{ testsuite.git_repo }}.git
{% else %}
git clone https://github.com/stackabletech/{{ testsuite.git_repo }}.git
{% endif %}

{% for helm_repo in testsuite.helm_repos %}helm repo add {{ helm_repo.id }} {{ helm_repo.url }}
{% endfor %}


{% if beku_suite %}
(cd {{ testsuite.git_repo }}/ && beku --suite {{ beku_suite }})
{% else %}
(cd {{ testsuite.git_repo }}/ && beku)
{% endif %}

export VECTOR_AGGREGATOR=vector-aggregator.t2-cluster-logging.svc.cluster.local:6000

(cd {{ testsuite.git_repo }}/tests/_work && kubectl kuttl test {{ test_params }})
exit_code=$?

# cleanup of the test resources might take a while, so we wait another minute
sleep 60

exit $exit_code
