#!/bin/bash

# Wait for the cluster to be ready
kubectl wait --for=condition=Ready nodes --all --timeout=10m
kubectl wait --for=condition=Ready pods --namespace kube-system --all --timeout=10m

# Install tool for test suite expansion
pip install beku-stackabletech

# Install stackablectl
curl -L https://github.com/stackabletech/stackable-cockpit/releases/latest/download/stackablectl-x86_64-unknown-linux-gnu --output /usr/local/bin/stackablectl 
chmod a+x /usr/local/bin/stackablectl 

# Clone repo of system under test
{% if git_branch %}
git clone -b {{ git_branch }} https://github.com/stackabletech/{{ testsuite.git_repo }}.git
{% else %}
git clone https://github.com/stackabletech/{{ testsuite.git_repo }}.git
{% endif %}

{% for helm_repo in testsuite.helm_repos %}helm repo add {{ helm_repo.id }} {{ helm_repo.url }}
{% endfor %}

cd {{ testsuite.git_repo }}

# Install the Stackable Data Platform release
retry --delay=60 --times=10 \
    python scripts/run-tests --skip-tests {{ test_params }} \
    || exit 1

# Tests want to know where to pipe their logs to
export VECTOR_AGGREGATOR=vector-aggregator.t2-cluster-logging.svc.cluster.local:6000

{% if beku_suite %}
python scripts/run-tests --log-level debug --skip-release --test-suite {{ beku_suite }} {{ test_params }}
{% else %}
python scripts/run-tests --log-level debug --skip-release {{ test_params }}
{% endif %}

exit_code=$?

# cleanup of the test resources might take a while, so we wait another minute
sleep 60

exit $exit_code
